<!DOCTYPE html>
<html>
  <head>
    <title>BKC Abroad Административный модуль</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <%#= render 'layouts/shim' %>
  </head>
  <body>
    <%#= render 'layouts/header_admin' %>

    <!--nav>
      <ul>
        <%# if @current_user.sysadmin? %>
          <li><%#= link_to 'Роли',          admin_roles_path %></li>
          <li><%#= link_to 'Пользователи',  admin_users_path %></li>
          <br>
        <%# else %>
          <li><%#= link_to 'Профиль',       edit_admin_user_path(@current_user) %></li>
        <%# end %>
        <li><%#= link_to 'Типы зданий',     admin_building_types_path %></li>
        <li><%#= link_to 'Здания',          admin_buildings_path %></li>
      </ul>
    </nav-->

    <%= yield %>
    <%#= render 'layouts/footer' %>
  </body>
</html>
